p{
    font-family: 'bold', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 20px;
}

title {
    font-family: 'Creepster', cursive;
    color: #0b070e;
    text-align: center;
    margin-top: 20px;
}